.auth_section {
  .img {
    width: 100%;
    height: 100%;
    padding-inline-start: 12px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }

  .note {
    font-size: 14px;
    color: $black;
    margin-top: 12px;
    margin-bottom: 0;
    a {
      color: $second;
    }
  }

  .link {
    text-align: end;
    font-size: 14px;
    color: $second;
    width: 100%;
    margin-top: 12px;
    display: block;
  }
}

.reset_btns {
  display: flex;
  align-items: center;
  gap: 12px;
}

.back_btn {
  height: 48px;
  border-radius: 12px;
  border: 1px solid #000;
  width: 90px;
  color: #000;
  cursor: pointer;
  background: none;
  transition: 0.3s ease-in-out;
  @include centerFlex();
  &:hover {
    background: $main;
    color: #fff;
    border: 1px solid $main;
  }

  i {
    font-size: 18px;
  }
}
