.hero_section {
  height: 100vh;

  .swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .hero_slide {
    overflow: hidden;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
