.hero_section {
  height: 100vh;

  .swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .hero_slide {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      padding-top: 60px;
      background: rgba(0, 0, 0, 0.5);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .small_hint {
        padding: 4px 16px;
        border: 1px solid $white;
        border-radius: 50px;
        color: $white;
        width: fit-content;
        font-size: 12px;
      }

      .slide_title {
        color: #fff;
        font-size: 42px;
        margin-bottom: 12px;
      }

      .slide_description {
        margin-bottom: 24px;
        color: #fff;
        font-size: 16px;
      }

      .slide_button {
        padding: 8px 8px 8px 16px;
        min-width: 146px;
        border-radius: 120px;
        background-color: #ffffffb2;
        color: $black;
        font-weight: 600;
        font-size: 14px;
        position: relative;
        overflow: hidden;
        isolation: isolate;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 16px;

        span {
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $white;
          transition: $transition;
          border-radius: 50%;
        }

        &:hover {
          span {
            background-color: $black;
            color: $white;
          }
        }
      }
    }
  }
}

.statistics_section {
  padding: 0 32px;

  .inner_container {
    background: #00112e;
    border-radius: 24px;
    margin-bottom: 40px;

    img {
      width: 100%;
      object-fit: cover;
      mix-blend-mode: difference;
    }

    .text {
      padding: 40px 0;
      h6 {
        font-size: 14px;
        color: $white;
      }
      h2 {
        color: $white;
        font-size: 42px;
      }
    }
  }
}

.features_section {
  padding: 60px 0;

  .feature_card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: 12px;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    img {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .content {
      h3 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
        margin-bottom: 0;
        color: $gray;
      }
    }
  }
}
