header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 16px 0;
  backdrop-filter: blur(24px);

  &.sticky {
    padding: 16px 0px;
    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    background: #fff;
    box-shadow: $shadow;
  }

  .layer {
    position: absolute;
    top: 56.48px;
    left: 0;
    width: 100%;
    height: calc(100vh - 56.48px);
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
    display: none;

    &.open {
      display: block;
    }
  }

  nav {
    transition: $transition;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem !important;
    background: $white;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .logo {
      flex: 1;
      img {
        height: 32px;
      }
      @media screen and (max-width: 450px) {
        flex: unset;
        img {
          height: 24px;
        }
      }
    }

    .nav_links {
      flex: 2;
      @include centerFlex();
      gap: 42px;

      .logo {
        display: none;
        @media screen and (max-width: 450px) {
          display: block;
          img {
            height: 28px;
          }
        }
      }

      a {
        font-weight: 600;
        color: $black;
        transition: $transition;
        font-size: 14px;
        &.active,
        &:hover {
          color: $second;
        }
      }

      @media screen and (max-width: 1200px) {
        position: absolute;
        flex-direction: column;
        background: #fff;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        align-items: flex-start;
        padding: 24px;
        transition: $transition;
        gap: 30px;
        justify-content: flex-start;

        &.open {
          right: 0;
        }
      }
    }

    .actions {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 16px;

      .toggle_menu {
        display: none;
        @media screen and (max-width: 1200px) {
          display: block;
        }
      }
      @media screen and (max-width: 1200px) {
        gap: 12px;
      }

      .login {
        padding: 8px 24px;
        border-radius: 120px;
        background-color: $main;
        color: $white;
        font-weight: 600;
        font-size: 14px;
        transition: $transition;
        &:hover {
          background-color: $black;
        }
      }
    }

    @media screen and (max-width: 1200px) {
      padding: 1.5rem 1rem;
      border-radius: 0;
      box-shadow: none;
    }
  }
}
.user_dropdown {
  border: 1px solid $input_stroke;
  background: $white;
  border-radius: 120px;
  padding: 8px 20px;
  transition: $transition;
  color: $black;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  font-size: 14px;
  @media screen and (max-width: 991px) {
    display: none;
  }
  @media screen and (max-width: 450px) {
    padding: 5px 10px;
    font-size: 12px;
  }
  i {
    font-size: 12px;
  }

  &.show,
  &:active,
  &:hover {
    border-color: $input_stroke !important;
    color: $black !important;
    background: $white !important;
  }
}

.dropdown-menu {
  padding: 12px;
  .dropdown-item {
    margin-bottom: 4px;
    padding: 8px 12px 8px 16px;
    border-radius: 4px;
    display: flex !important;
    align-items: center !important;
    gap: 8px !important;
    font-size: 14px;
    &.logout {
      cursor: pointer;
      &:hover {
        background: $second;
        color: $white;
      }
    }
  }
}
.small_menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: $white;
  align-items: center;
  box-shadow: $shadow;
  display: none;

  @media screen and (max-width: 991px) {
    display: flex;
  }

  .menu_item {
    @include centerFlex();
    flex-direction: column;
    flex: 1;
    padding: 12px;
    gap: 8px;
    font-size: 14px;
    text-decoration: none;

    i {
      font-size: 16px;
      color: $gray;
    }

    &.active i {
      color: $main;
    }

    .center {
      width: 42px;
      height: 42px;
      background: $main;
      font-size: 24px;
      color: $white;
      @include centerFlex();
      border-radius: 50%;

      i {
        color: $white;
      }
    }
  }
}

.section_hint {
  background: $second;
  padding: 6px 16px;
  color: $white;
  font-weight: 400;
  font-size: 14px;
  width: fit-content;
  border-radius: 80px;
}

.section_title {
  color: $black;
  font-size: 20px;
  span {
    background: linear-gradient(90deg, #a80200 0%, #d8250f 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.footer {
  padding: 60px 0 0;
  background: $black;

  .logo {
    margin-bottom: 24px;
    @include centerFlex();
    width: fit-content;
    img {
      height: 52px;
      filter: brightness(0) invert(1);
    }
  }

  .news_letter {
    border-bottom: 1px solid #ffffff3f;
    @include space-between();
    margin-bottom: 32px;
    padding: 0 0 32px;
    gap: 16px;

    @media screen and (max-width: 450px) {
      flex-direction: column;
      align-items: flex-start;
    }

    h6 {
      color: $white;
      margin: 0;
      font-size: 24px;
      font-weight: 400;

      @media screen and (max-width: 450px) {
        font-size: 18px;
      }
    }

    form {
      background: $white;
      border-radius: 8px;
      display: flex;
      overflow: hidden;

      input {
        height: 52px;
        padding: 12px;
        width: 350px;
        border: none;
        outline: none;
        background: none;
        @media screen and (max-width: 450px) {
          width: 230px;
        }
      }

      button {
        background: $second;
        color: $white;
        height: 52px;
        width: 86px;
        padding: 0 24px;
      }
    }
  }

  .description {
    color: $white;
    font-size: 14px;
    max-width: 350px;
  }

  .title {
    color: $white;
    font-size: 18px;
    margin-bottom: 24px;
    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      background: $second;
      margin-top: 12px;
      transform: skew(-30deg);
    }
  }

  .links_list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      color: $white;
      font-size: 14px;
      a {
        color: $white;
        font-size: 14px;
        transition: $transition;
        &:hover {
          color: $second;
        }
      }
    }
  }

  .copyright {
    padding: 24px 0;
    margin-top: 24px;
    @include space-between();
    border-top: 1px solid #ffffff3f;

    @media screen and (max-width: 450px) {
      flex-direction: column-reverse;
      gap: 24px;
      margin-bottom: 60px;
    }

    p {
      color: $white;
      font-size: 14px;
      margin: 0;
      span {
        color: $second;
      }
    }

    .socials {
      display: flex;
      align-items: center;
      gap: 24px;
      a {
        color: $white;
        transition: $transition;
        &:hover {
          color: $second;
        }
      }
    }
  }

  @media screen and (max-width: 450px) {
    flex-direction: column-reverse;
    gap: 16px;
  }
}

.main_section {
  padding: 40px 0;

  .section_title {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    &::before {
      content: "";
      width: 32px;
      height: 4px;
      transform: skew(30deg);
      background: linear-gradient(90deg, #a80200 0%, #d8250f 100%);
    }
  }

  .section_description {
    font-size: 14px;
    color: $black;
    a {
      color: $second;
    }
  }
}

.terms {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
    margin-bottom: 16px;
  }

  ul {
    margin-bottom: 16px;
    padding-left: 16px;
    list-style: disc;
    li {
      margin-bottom: 8px;
      font-size: 14px;
    }
  }
}
.package_contents {
  .img {
    height: 100%;
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      object-fit: cover;
    }
  }

  p {
    margin-bottom: 8px;
    strong {
      font-size: 14px;
    }
  }
}
.mt-100 {
  margin-top: 100px;
}

.confirmation_modal {
  p {
    margin-top: 16px;
    margin-bottom: 4px;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    span {
      line-height: inherit;
      color: #a80200;
      font-weight: 600;
    }
  }

  .cancel {
    @include clearInput();
    height: 44px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid $black;
    color: $black;
    &:hover {
      background: none;
    }
  }

  .confirm {
    background: $main;
    width: 100%;
    height: 44px;
    color: #fff;
    border-radius: 12px;
    &:hover {
      background: $main;
    }
    &.red {
      background: #ff3a29;
      &:hover {
        background: #ff3a29;
      }
    }
  }
}
