@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  height: 300px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li[data-sonner-toast=""] {
  padding: 12px;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  background-color: unset;
  color: #000;
}

.row {
  margin: 0;
}

input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button {
  display: none;
}
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

input,
select,
textarea,
button {
  border: none;
  background: none;
  outline: none;
}

.dropdown-menu {
  border: 0 !important;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1) !important;
  margin-top: 14px !important;
  background: #fff;
  border-radius: 8px;
  text-align: start !important;
  padding: 8px;
}

.dropdown-toggle::after {
  display: none;
}

.modal-header {
  border-bottom: 0;
}
.modal-header .btn-close {
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
  margin-inline-end: 0 !important;
  margin-inline-start: auto !important;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  opacity: 1;
}
.modal-header .btn-close::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 6 Pro";
  content: "\f00d";
  font-size: 14px;
  color: #000;
}
.modal-header .btn-close:hover {
  background: #f4f4f4 !important;
}
.modal-header h6 {
  color: #000;
  margin-bottom: 0;
}

.modal-content {
  background: #fff;
  border-radius: 24px;
  overflow: hidden;
}

.modal .modal-xl {
  max-width: unset;
  width: min(100% - 24px, 1340px);
  margin: 20px auto;
  justify-content: center;
}

.select__control {
  box-shadow: none !important;
  border-color: #f4f4f4 !important;
  background-color: #fafafa !important;
  border-radius: 12px !important;
  font-size: 14px !important;
}
.select__control:hover {
  background-color: #fff !important;
}

.select__indicator-separator {
  display: none !important;
}

.select__menu {
  white-space: nowrap !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  z-index: 999999 !important;
  font-size: 14px;
}

.select__multi-value {
  margin: 0 !important;
  margin-inline-end: 4px !important;
  border-radius: 8px !important;
}

.calender_modal .rmdp-calendar {
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 8px;
  background: #fff;
}

.rmdp-wrapper {
  background: #fff !important;
}

.rmdp-day {
  width: 52px !important;
  height: 52px !important;
  font-size: 16px !important;
  color: #000 !important;
  transition: all 0.3s ease-in-out;
}
.rmdp-day span:hover {
  background-color: #fafafa !important;
  color: #a80200 !important;
}
.rmdp-day.rmdp-today span {
  background-color: #fafafa !important;
  color: #a80200 !important;
}
.rmdp-day.rmdp-disabled {
  color: #777 !important;
  cursor: not-allowed !important;
}
.rmdp-day.rmdp-disabled span {
  text-decoration: line-through !important;
  cursor: not-allowed !important;
}
.rmdp-day.rmdp-disabled span:hover {
  background-color: transparent !important;
  color: #777 !important;
}

.rmdp-arrow-container {
  width: 24px !important;
  height: 24px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.rmdp-arrow-container i {
  display: none;
}
.rmdp-arrow-container::before {
  font-family: "Font Awesome 6 Pro";
  content: "\f104";
  font-size: 14px;
  color: #a80200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rmdp-arrow-container.rmdp-right::before {
  content: "\f105";
}
.rmdp-arrow-container:hover {
  background: #fafafa !important;
  box-shadow: none !important;
}
.rmdp-arrow-container.disabled {
  cursor: not-allowed !important;
}
.rmdp-arrow-container.disabled::before {
  color: #aaaaaa !important;
}
.rmdp-arrow-container.disabled:hover {
  background: transparent !important;
  box-shadow: none !important;
}

.rmdp-range {
  background: #a80200 !important;
  box-shadow: none !important;
  color: #fff !important;
}
.rmdp-range.rmdp-today span {
  background: #a80200 !important;
  color: #fff !important;
}

.rmdp-week:first-child {
  margin-bottom: 16px;
}
.rmdp-week:first-child .rmdp-week-day {
  color: #a80200 !important;
}

.rmdp-header-values {
  color: #a80200 !important;
}

.rmdp-shadow {
  box-shadow: none !important;
}

.calender_wrapper {
  min-height: 384px;
}

.rmdp-week-day {
  width: 52px !important;
}

.form-switch input {
  box-shadow: none !important;
}

.rmdp-selected span {
  background-color: #a80200 !important;
  color: #fff !important;
}

.react-tel-input {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid #f4f4f4;
  background: #fafafa;
  height: 48px;
  border-radius: 12px;
  direction: ltr;
}
.react-tel-input .form-control {
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 14px;
  background: #fafafa;
  padding: 8px !important;
  border-radius: 12px;
  direction: ltr;
  border: 0 !important;
}
.react-tel-input .flag-dropdown {
  background: transparent;
  border: none;
  position: static;
  border-radius: 12px 0 0 12px;
  min-width: 52px;
}
.react-tel-input .flag-dropdown.open {
  background: #fafafa;
  border-radius: 12px;
}
.react-tel-input .flag-dropdown.open .selected-flag {
  border-radius: 12px;
  background: #fafafa;
}
.react-tel-input .selected-flag {
  background: transparent;
  padding: 0;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-tel-input .selected-flag .arrow {
  border-top-color: #000;
}
.react-tel-input .selected-flag .arrow.up {
  border-bottom-color: #000;
}
.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus {
  background: #fafafa;
}
.react-tel-input .country-list {
  width: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #f4f4f4;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1019607843);
  margin-top: 4px;
  scrollbar-width: none;
}
.react-tel-input .country-list .search {
  padding: 8px;
  background: #fff;
}
.react-tel-input .country-list .search input {
  margin: 0;
  border: 1px solid #f4f4f4;
  height: 42px;
  width: 100%;
  border-radius: 8px;
  direction: ltr !important;
}
.react-tel-input .country-list .search span {
  display: none;
}
.react-tel-input .country-list .country {
  color: #000;
  padding: 8px 10px;
}
.react-tel-input .country-list .country:hover {
  background: #fafafa;
}
.react-tel-input .country-list .country.highlight {
  background: #fafafa;
}
.react-tel-input .country-list .dial-code {
  color: #777;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
  border: 1px solid #f4f4f4 !important;
  height: 54px;
  border-radius: 12px !important;
  box-shadow: none;
  outline: none;
  color: #aaaaaa;
  background: #fafafa !important;
}

.ReactFlagsSelect-module_filterBox__3m8EU {
  padding: 8px;
}
.ReactFlagsSelect-module_filterBox__3m8EU input {
  margin: 0;
}

.ReactFlagsSelect-module_flagsSelect__2pfa2 {
  padding-bottom: 0;
}

.ReactFlagsSelect-module_selectOptions__3LNBJ {
  font-size: 16px !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  border: 0 !important;
  max-height: 208px !important;
  border-radius: 8px !important;
  scrollbar-width: none !important;
}
.ReactFlagsSelect-module_selectOptions__3LNBJ input {
  height: 48px !important;
  border-radius: 8px !important;
}
.ReactFlagsSelect-module_selectOptions__3LNBJ::-webkit-scrollbar {
  display: none !important;
}

.ReactFlagsSelect-module_filterBox__3m8EU input {
  border: 1px solid #f4f4f4 !important;
  width: 100% !important;
  margin: 0 !important;
}

.ReactFlagsSelect-module_label__27pw9 {
  color: #000;
}

body {
  position: relative;
  direction: rtl;
  overflow-x: hidden;
  scrollbar-width: none;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}
body header {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 9;
  background: #fff;
  padding: 18px 0 !important;
}
body header.sticky {
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1019607843);
}
body header nav {
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
}
body header nav .logo {
  flex: 1;
}
body header nav .logo img {
  height: 40px;
}
body header nav .nav_links {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
}
body header nav .nav_links a {
  font-weight: 600;
  color: #000;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}
body header nav .nav_links a.active, body header nav .nav_links a:hover {
  color: #d8250f;
}
body header nav .actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
body header nav .actions .login {
  padding: 8px 24px;
  border-radius: 120px;
  background-color: #d8250f;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
body .hero_section {
  height: 100vh;
}
body .hero_section .swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .hero_section .hero_slide {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
body .hero_section .hero_slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .hero_section .hero_slide .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding-top: 60px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .hero_section .hero_slide .content .small_hint {
  padding: 4px 16px;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
}
body .hero_section .hero_slide .content .slide_title {
  color: #fff;
  font-size: 48px;
  margin-bottom: 12px;
}
body .hero_section .hero_slide .content .slide_description {
  margin-bottom: 24px;
  color: #fff;
  font-size: 16px;
}
body .statistics_section {
  padding: 0 32px;
}
body .statistics_section .inner_container {
  background: #00112e;
  border-radius: 24px;
  margin-bottom: 40px;
}
body .statistics_section .inner_container .img {
  width: 100%;
  height: 100%;
  position: relative;
}
body .statistics_section .inner_container .img img {
  width: 150%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: difference;
  position: absolute;
  bottom: 0;
  left: -70px;
}
body .statistics_section .inner_container .text {
  padding: 60px 0;
}
body .statistics_section .inner_container .text h6 {
  font-size: 14px;
  color: #fff;
}
body .statistics_section .inner_container .text h2 {
  color: #fff;
  margin-bottom: 32px;
  font-size: 42px;
  font-family: "Instrument Sans", sans-serif;
}
body .statistics_section .inner_container .text ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 24px;
}
body .statistics_section .inner_container .text ul li {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}
body .statistics_section .inner_container .text a {
  padding: 8px 8px 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 120px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
}
body .statistics_section .inner_container .text a span {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  border-radius: 50%;
}
body .statistics_section .inner_container .states {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  gap: 24px;
}
body .statistics_section .inner_container .states .state {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 240px;
}
body .statistics_section .inner_container .states .state h2 {
  font-size: 52px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2392156863);
  width: 100%;
  padding: 0 0 12px 0;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}
body .statistics_section .inner_container .states .state h2 i {
  font-size: 32px;
  margin-top: 12px;
}
body .statistics_section .inner_container .states .state p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
body .features_section {
  padding: 60px 0;
}
body .features_section .feature_card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 12px;
  height: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
body .features_section .feature_card img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body .features_section .feature_card .content h3 {
  font-size: 18px;
}
body .features_section .feature_card .content p {
  font-size: 14px;
  margin-bottom: 0;
  color: #777;
}
body .error-page {
  background-color: #f8f9fa;
  height: 100vh;
}
body .error-page .container {
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .error-page img {
  height: 360px;
}
body .error-page .error-title {
  font-size: 32px;
  color: #000;
  margin-bottom: 10px;
  text-align: center;
}
body .error-page .error-description {
  font-size: 14px;
  color: #777;
  margin-bottom: 16px;
  text-align: center;
}
body .error-page a {
  padding: 12px 32px;
  font-size: 14px;
  color: #fff;
  background: #a80200;
  border-radius: 120px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}
body .error-page a:hover {
  background: #000;
}
body main {
  min-height: calc(100dvh - 300px);
}
body.en {
  font-family: "Outfit", sans-serif;
  direction: ltr;
}/*# sourceMappingURL=main.css.map */