@import "./scss/config";

body {
  position: relative;
  direction: rtl;
  overflow-x: hidden;
  scrollbar-width: none;
  font-family: "Baloo Bhaijaan 2", sans-serif;

  @import "./scss/layout";
  @import "./scss/home";
  @import "./scss/error-page";

  main {
    min-height: calc(100dvh - 300px);
  }

  &.en {
    font-family: "Outfit", sans-serif;
    direction: ltr;
  }
}
